numpy==1.26.4
pandas==2.2.1
matplotlib==3.8.3
seaborn==0.13.2
pillow==10.2.0
scikit-learn==1.3.0
lazypredict==0.2.12
shap==0.45.0
pycebox==0.0.1
lime==0.2.0.1
skimpy==0.0.14
tldextract==5.1.2
kaggle
opendatasets